{"users":{"1":{"name":"admin","password":"21232f297a57a5a743894a0e4a801fc3","id":1,"roles":[0],"lastTimeLoggedIn":"Fri, 15 Jul 2016 19:08:18 -0700","legalok":"12\/5\/2014"}},"roles":[{"name":"admin","id":0,"permissions":[0,1,2,3,4]},{"name":"User","id":1,"permissions":[1,4]}],"permissions":{"1":{"name":"developer","id":2},"2":{"name":"see-scanner","id":3},"3":{"name":"abcd-data-entry","id":4}}}