{"users":{"1":{"name":"admin","password":"21232f297a57a5a743894a0e4a801fc3","id":1,"roles":[0],"lastTimeLoggedIn":"","legalok":""}},"roles":[{"name":"admin","id":0,"permissions":[0,1,2,3]}],"permissions":[{"name":"can-do-everything","id":1},{"name":"developer","id":2},{"name":"see-scanner","id":3}]}